streamlit==1.47.1

torch

transformers

accelerate

sentence-transformers

langchain

langchain-community

langchain-huggingface

langchain-text-splitters

faiss-cpu

torchvision

pypdf

pandas

numpy

langchain-google-genai

google-generativeai

python-dotenv